* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: black;
  height: 69px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid seashell;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: .9;
}

/*Logo in Header alignment*/
.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-grow: 1;
}

/*Logo image in header format*/
.logo img {
  height: 50px;
}

/*Navigation Bar alignment*/
nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*Navigation Bar format*/
span a {
  color: seashell;
}

/*body*/
body {
  background-color: black;
}

/*Mission Content alignment*/
.content {
  display: flex;
  justify-content: center;
}

/*Mission Container alignment*/
.mission-container {
  padding-top: 69px;
  display: flex;
  justify-content: center;
}

/*Main content image alignment & format*/
.image-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  z-index: -1;
}

.mission-bar {
  margin: auto;
  width: 100%;
}

/*Main content2*/
.main-content2 {
  display: flex;
  justify-content: center;
}

/*Tea of the Month - Sizing Characteristics, Padding*/
.tea-otm {
  padding-top: 70px;
  width: 1000px;
}

/*Tea Itmes alignment*/
.all-tea {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*Sizing of Tea Elements */
.tea-item img {
  height: 200px;
  width: 300px;
  margin: 10px;
