* {
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  background-color: black;
}

/*header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: black;
  height: 69px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid seashell;
  font-size: 22px;
}

/*Logo in Header alignment*/
.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-grow: 1;
}

/*Logo image in header format*/
.logo img {
  height: 50px;
}

/*Navigation Bar alignment*/
nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*Navigation Bar format*/
span a {
  color: seashell;
}

/*Mission Content alignment*/
.content {
  display: flex;
  justify-content: center;
}

/*Mission Container alignment*/
.mission-container {
  padding-top: 69px;
  display: flex;
  justify-content: center;
  background-color: black;
}

/*Main content image alignment & format*/
.image-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  z-index: -1;
}

.mission-bar {
  margin: auto;
  width: 100%;
}

/*Main content2*/
.main-content2 {
  display: flex;
  justify-content: center;
}

/*Tea of the Month - Sizing Characteristics, Padding*/
.tea-otm {
  padding-top: 70px;
  width: 1000px;
}

/*Tea Itmes alignment*/
.all-tea {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*Sizing of Tea Elements*/
.tea-item img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

/*Main Content3 alignment*/
.main-content3 {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

/*Locations*/
.locations {
  background-image: url("images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  opacity: 1;
}

/*Properties of Location Title*/
.locations-title {
  margin-top: 70px;

}

/*Location Boxes Container - Alignment*/
.location-boxes-container {
  display: flex;
  justify-content: center;
}

/*Location Box Items Format*/
.location-box-item {
  height: 300px;
  width: 300px;
  margin: 20px;
  opacity: 1;
  border: 1px solid seashell;
}

/*Copyright Container*/
.copyright {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
